## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(101), 80) #Using range 101 so that 100 can be in the list.

print(sample_list_1)

[54, 8, 81, 20, 18, 30, 75, 39, 80, 66, 73, 36, 69, 82, 79, 27, 3, 14, 55, 50, 29, 45, 9, 6, 51, 71, 61, 83, 47, 15, 94, 5, 57, 44, 41, 63, 93, 98, 53, 16, 74, 35, 87, 0, 78, 65, 84, 23, 68, 52, 13, 90, 2, 70, 1, 56, 7, 91, 92, 40, 31, 96, 28, 95, 62, 85, 17, 24, 97, 100, 34, 26, 46, 32, 88, 89, 67, 38, 60, 76]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

#The length is still 80 because all the elements in the list were unique, therefore the creation of the set didn't prompt
#the deletion of any of its items.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)
print(len(sample_list_2))

[70, 12, 71, 27, 46, 63, 2, 89, 47, 86, 63, 55, 65, 83, 6, 86, 58, 11, 8, 51, 53, 26, 87, 29, 52, 60, 91, 9, 47, 92, 70, 17, 18, 29, 97, 4, 15, 66, 24, 67, 42, 1, 58, 75, 25, 13, 14, 35, 49, 68, 26, 56, 42, 14, 47, 63, 71, 82, 94, 78, 36, 14, 79, 52, 8, 28, 85, 40, 25, 58, 25, 70, 100, 84, 85, 29, 58, 34, 64, 89]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

#The length is smaller because now we *did* have duplicates, and the conversion to a set deleted them.

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{0, 3, 5, 7, 16, 20, 23, 30, 31, 32, 38, 39, 41, 44, 45, 50, 54, 57, 61, 62, 69, 73, 74, 76, 80, 81, 88, 90, 93, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{64, 4, 42, 11, 12, 49, 86, 25, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{1, 2, 6, 8, 9, 13, 14, 15, 17, 18, 24, 26, 27, 28, 29, 34, 35, 36, 40, 46, 47, 51, 52, 53, 55, 56, 60, 63, 65, 66, 67, 68, 70, 71, 75, 78, 79, 82, 83, 84, 85, 87, 89, 91, 92, 94, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print("The length of set1 is", len(set1))
print("The length of set2 is", len(set2))
print("The length of set3 is", len(set3))
print("The length of set4 is", len(set4))
print("The length of set5 is", len(set5))

#Since set5 is the intersection between set1 and set2, it accounts for elements present in both sets and so it must be 
#multiplied by 2. Taking this into account, the sum of sets 1 and 2 should be the same as the sum of sets 3, 4 and 5(*2).
#Let's check if it adds up:

print("\n Is the length of set1 + set2 equal to that of set3 + set4 + set5(*2)?")

len(set1) + len(set2) == len(set3) + len(set4) +(len(set5) * 2)

The length of set1 is 80
The length of set2 is 57
The length of set3 is 32
The length of set4 is 9
The length of set5 is 48

 Is the length of set1 + set2 equal to that of set3 + set4 + set5(*2)?

True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 20, 23, 24, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 38, 39, 40, 41, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

print(set2.issubset(set1) == True)

print(set3.issubset(set1) == True)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

set7 = set3.union(set4)
set7 = set7.union(set5)

set8 = set1.union(set2)

set7 == set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

#We cannot remove specifically the *first* element of set1 since the pop methods only removes a random element.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i) #I'm using discard instead of remove to prevent an error.

print(set1)

{0, 2, 3, 5, 6, 7, 8, 13, 14, 15, 16, 17, 18, 20, 23, 24, 26, 27, 28, 30, 32, 34, 35, 36, 38, 40, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 65, 66, 67, 68, 70, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}