## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(1,100), k=80)
print(sample_list_1)

[68, 99, 13, 15, 8, 17, 7, 16, 60, 27, 22, 40, 24, 82, 83, 44, 33, 88, 64, 72, 43, 11, 92, 23, 18, 63, 59, 12, 74, 78, 1, 30, 29, 42, 46, 98, 14, 32, 77, 31, 36, 50, 25, 57, 76, 9, 39, 52, 89, 56, 61, 55, 2, 20, 28, 94, 37, 65, 95, 81, 58, 90, 84, 5, 45, 34, 19, 86, 73, 71, 26, 54, 51, 35, 69, 4, 21, 47, 80, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print("The length is",len(set1))
print("It seems to be", len(set1) == 80, "the lenght is still",len(set1))

The length is 80
It seems to be True the lenght is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = [random.randint(1, 100) for number in range(80)]
print(sample_list_2)

[37, 29, 81, 48, 9, 83, 9, 14, 66, 30, 66, 84, 25, 65, 25, 54, 19, 55, 18, 68, 99, 87, 72, 63, 45, 14, 90, 88, 17, 51, 3, 34, 38, 21, 40, 10, 46, 8, 18, 35, 35, 31, 39, 50, 33, 53, 97, 93, 68, 54, 86, 58, 51, 49, 85, 90, 19, 14, 53, 56, 80, 74, 5, 12, 83, 95, 29, 97, 41, 45, 32, 52, 12, 31, 5, 50, 54, 77, 53, 38]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print("The length is",len(set2))
print("It seems to be", len(set2) == 80, "as the lenght is not",len(set1),"anymore")

The length is 56
It seems to be False as the lenght is not 80 anymore

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2
print(set3)

{1, 2, 4, 7, 11, 13, 15, 16, 20, 22, 23, 24, 26, 27, 28, 36, 42, 43, 44, 47, 57, 59, 60, 61, 64, 67, 69, 71, 73, 76, 78, 82, 89, 92, 94, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{97, 66, 3, 38, 41, 10, 48, 49, 53, 85, 87, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2
print(set5)

{5, 8, 9, 12, 14, 17, 18, 19, 21, 25, 29, 30, 31, 32, 33, 34, 35, 37, 39, 40, 45, 46, 50, 51, 52, 54, 55, 56, 58, 63, 65, 68, 72, 74, 77, 80, 81, 83, 84, 86, 88, 90, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
len(set1) - len(set3) == len(set5) == len(set2) - len(set4)

True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)
print(set6)

{1, 2, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 80, 81, 82, 83, 84, 86, 88, 89, 90, 92, 94, 95, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print("Does set1 contain set2?",set2.issubset(set1))
print("Does set1 contain set3?",set3.issubset(set1))

Does set1 contain set2? False
Does set1 contain set3? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
print("It is",(set3.union(set4,set5)) == set1.union(set2),"the the aggregated values were equal.")

It is True the the aggregated values were equal.

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
print(set1)
set1.pop()

{1, 2, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 80, 81, 82, 83, 84, 86, 88, 89, 90, 92, 94, 95, 98, 99}

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{2, 4, 5, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 60, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 86, 88, 90, 92, 94, 95, 98}