## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[41, 57, 72, 98, 20, 12, 27, 74, 89, 81, 39, 61, 47, 68, 54, 84, 73, 23, 29, 67, 80, 95, 11, 38, 94, 69, 8, 51, 88, 49, 28, 83, 79, 71, 60, 33, 64, 37, 3, 66, 40, 93, 24, 77, 32, 1, 43, 70, 58, 78, 90, 63, 31, 7, 9, 97, 92, 76, 19, 15, 96, 45, 82, 62, 10, 87, 4, 16, 44, 50, 13, 35, 48, 42, 99, 36, 30, 6, 17, 0]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here

sample_list_2 = []

#with a for loop
for i in range(80):
    num = random.randint(1,100)
    sample_list_2.append(num)
    
print(sample_list_2)

[93, 13, 37, 56, 79, 50, 53, 50, 92, 40, 59, 60, 18, 21, 14, 52, 5, 61, 90, 25, 4, 97, 15, 13, 82, 7, 94, 22, 52, 59, 57, 33, 79, 20, 12, 51, 96, 10, 72, 10, 55, 70, 41, 87, 48, 90, 95, 12, 100, 52, 73, 55, 32, 82, 51, 2, 47, 46, 18, 58, 67, 97, 100, 92, 45, 91, 20, 96, 58, 57, 41, 21, 83, 60, 10, 82, 29, 21, 80, 7]

In [8]:
#List comprehension
sample_list_2 = [random.randint(1,100) for i in range(80)]

print(sample_list_2)

[4, 96, 60, 93, 60, 3, 6, 68, 3, 53, 69, 84, 92, 1, 84, 59, 19, 78, 68, 55, 56, 83, 42, 64, 11, 83, 85, 18, 9, 44, 46, 13, 90, 14, 68, 34, 79, 51, 48, 12, 30, 60, 66, 71, 15, 87, 75, 50, 98, 59, 55, 27, 40, 73, 88, 43, 99, 40, 52, 58, 48, 13, 96, 47, 62, 63, 43, 21, 46, 68, 7, 35, 73, 7, 62, 11, 37, 13, 20, 45]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here
#Without list comprehension
set3_list = []
for elem in set1:
    if elem in set1 and elem not in set2:
        set3_list.append(elem)

set3 = set(set3_list)
print(set3)

{0, 8, 10, 16, 17, 23, 24, 28, 29, 31, 32, 33, 36, 38, 39, 41, 49, 54, 57, 61, 67, 70, 72, 74, 76, 77, 80, 81, 82, 89, 94, 95, 97}

In [24]:
#List comprehension
set3 = {elem for elem in set1 if elem in set1 and elem not in set2}
print(set3)

{0, 8, 10, 16, 17, 23, 24, 28, 29, 31, 32, 33, 36, 38, 39, 41, 49, 54, 57, 61, 67, 70, 72, 74, 76, 77, 80, 81, 82, 89, 94, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
# Your code here
#Without list comprehension
set4_list = []

for elem in set2:
    if elem in set2 and elem not in set1:
        set4_list.append(elem)
        
set4 = set(set4_list)
print(set4)

{34, 75, 46, 14, 18, 52, 21, 53, 55, 56, 85, 59}

In [23]:
#list comprehension
set4 = {elem for elem in set2 if elem in set2 and elem not in set1}
print(set4)

{34, 75, 46, 14, 18, 52, 21, 53, 55, 56, 85, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
#without list comprehension

set5_list = []

for elem in set1 and set2:
    if elem in set1 and set2:
        set5_list.append(elem)

set5 = set(set5_list)
print(set5)

{1, 3, 4, 6, 7, 9, 11, 12, 13, 15, 19, 20, 27, 30, 35, 37, 40, 42, 43, 44, 45, 47, 48, 50, 51, 58, 60, 62, 63, 64, 66, 68, 69, 71, 73, 78, 79, 83, 84, 87, 88, 90, 92, 93, 96, 98, 99}

In [26]:
#list comrpehension

set5_list = {elem for elem in set1 and set2 if elem in set1 and set2}
print(set5)

{1, 3, 4, 6, 7, 9, 11, 12, 13, 15, 19, 20, 27, 30, 35, 37, 40, 42, 43, 44, 45, 47, 48, 50, 51, 58, 60, 62, 63, 64, 66, 68, 69, 71, 73, 78, 79, 83, 84, 87, 88, 90, 92, 93, 96, 98, 99}

In [37]:
#an easier way to do it
set5 = set1.intersection(set2)
print(set5)

{1, 3, 4, 6, 7, 9, 11, 12, 13, 15, 19, 20, 27, 30, 35, 37, 40, 42, 43, 44, 45, 47, 48, 50, 51, 58, 60, 62, 63, 64, 66, 68, 69, 71, 73, 78, 79, 83, 84, 87, 88, 90, 92, 93, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [27]:
# Your code here
print("Set1", len(set1))
print("Set2", len(set2))
print("Set3", len(set3))
print("Set4", len(set4))
print("Set5", len(set5))

Set1 80
Set2 59
Set3 33
Set4 12
Set5 47

#### Create an empty set called `set6`.

In [33]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [43]:
# Your code here
set6 = set3.update(set5)
print(set6)
#It returns "None"

#with set.union it returns a set
set6 = set3.union(set5)
print(set6)

None
{0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 23, 24, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 54, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [45]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here