## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random as rd

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample = set(range(101))
sample_list_1 = rd.sample(sample, k = 80)

sample_list_1

[13,
 99,
 3,
 6,
 44,
 89,
 22,
 7,
 97,
 18,
 45,
 2,
 63,
 15,
 94,
 57,
 98,
 55,
 35,
 54,
 42,
 25,
 51,
 62,
 88,
 23,
 80,
 73,
 83,
 84,
 43,
 29,
 69,
 21,
 28,
 66,
 68,
 10,
 61,
 86,
 47,
 27,
 40,
 85,
 31,
 96,
 87,
 58,
 65,
 74,
 14,
 37,
 41,
 78,
 39,
 91,
 8,
 72,
 79,
 11,
 71,
 56,
 46,
 36,
 75,
 93,
 5,
 34,
 30,
 4,
 12,
 9,
 82,
 19,
 20,
 26,
 0,
 17,
 16,
 60]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set((sample_list_1))

len(set1)
# It is the same length

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(rd.randrange(0,100))

sample_list_2

[79,
 9,
 97,
 61,
 77,
 7,
 87,
 45,
 32,
 73,
 85,
 68,
 12,
 68,
 34,
 4,
 81,
 64,
 23,
 78,
 33,
 24,
 71,
 86,
 9,
 73,
 22,
 38,
 79,
 54,
 24,
 83,
 27,
 18,
 61,
 99,
 53,
 83,
 76,
 19,
 72,
 98,
 60,
 78,
 66,
 50,
 14,
 69,
 58,
 60,
 88,
 28,
 69,
 84,
 58,
 54,
 91,
 30,
 58,
 55,
 92,
 75,
 89,
 4,
 17,
 32,
 66,
 2,
 42,
 26,
 48,
 34,
 81,
 28,
 41,
 87,
 55,
 62,
 90,
 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set((sample_list_2))

len(set2)

# Not the same lenght

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set(())

for i in set1:
    if i not in set2:
        set3.add(i)

set3

{0,
 3,
 5,
 6,
 8,
 10,
 11,
 13,
 15,
 16,
 20,
 21,
 25,
 29,
 31,
 35,
 36,
 37,
 39,
 40,
 43,
 44,
 46,
 47,
 51,
 56,
 57,
 63,
 65,
 74,
 80,
 82,
 93,
 94,
 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set(())

for i in set2:
    if i not in set1:
        set4.add(i)

set4

{24, 32, 33, 38, 48, 50, 53, 64, 76, 77, 81, 90, 92}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set(())

for i in set1:
    if i in set2:
        set5.add(i)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
len(set1) == len(set2)+23 == len(set3) + 23*2 == len(set4) + 23*3

# I can't find the relationship between set5 and the other sets.

False

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set(())

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set5, set3)

set6

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 51,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 65,
 66,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 93,
 94,
 96,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

union1 = set3.union(set4,set5)

union2 = set1.union(set2)

union1 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
set1_list = list(set1)

popped_element = set1_list.pop(0)

set1 = set(set1_list)

len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

len(set1)

63