## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library

In [65]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [66]:
# Your code here
sample_list_1 = random.sample(range(101),k=80)
print(sample_list_1)

[89, 56, 24, 29, 46, 71, 69, 72, 6, 93, 96, 97, 70, 30, 47, 8, 76, 23, 9, 67, 36, 0, 86, 78, 38, 27, 57, 83, 59, 51, 64, 32, 77, 65, 45, 49, 15, 12, 4, 58, 34, 21, 42, 81, 33, 7, 82, 25, 85, 79, 16, 84, 75, 41, 68, 43, 61, 95, 2, 91, 11, 13, 74, 17, 80, 40, 60, 1, 22, 52, 66, 99, 48, 44, 88, 28, 5, 39, 94, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [67]:
# Your code here
set1=set(sample_list_1)
print(set1)

#the lenght is gonna be 80 because in the random.sample there are no repeated values
print("lenght: ", len(set1))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 93, 94, 95, 96, 97, 99}
lenght:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [68]:
sample_list_2 = []
for i in range(80):
    sample_list_2 += [random.randrange(100)]
print(sample_list_2)

[30, 80, 85, 39, 26, 13, 94, 92, 44, 9, 2, 49, 51, 45, 79, 36, 2, 63, 7, 79, 49, 3, 58, 68, 60, 75, 83, 9, 30, 0, 9, 5, 67, 67, 70, 54, 4, 79, 16, 42, 70, 20, 26, 9, 48, 72, 33, 97, 32, 18, 60, 59, 94, 62, 86, 4, 40, 57, 2, 88, 9, 96, 29, 81, 4, 84, 30, 3, 79, 38, 19, 60, 29, 81, 93, 5, 75, 27, 95, 74]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [69]:
# Your code here
set2= set(sample_list_2)
print(set2)

#the lenght is gonna be 80 or less because there can be repeated values because we call the random every time (no history)
print("lenght: ", len(set2))

{0, 2, 3, 4, 5, 7, 9, 13, 16, 18, 19, 20, 26, 27, 29, 30, 32, 33, 36, 38, 39, 40, 42, 44, 45, 48, 49, 51, 54, 57, 58, 59, 60, 62, 63, 67, 68, 70, 72, 74, 75, 79, 80, 81, 83, 84, 85, 86, 88, 92, 93, 94, 95, 96, 97}
lenght:  55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [70]:
# Your code here
set3 = set1 - set2
print(set3)

{1, 6, 8, 11, 12, 15, 17, 21, 22, 23, 24, 25, 28, 34, 41, 43, 46, 47, 52, 56, 61, 64, 65, 66, 69, 71, 76, 77, 78, 82, 89, 91, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [71]:
# Your code here
set4 = set2 - set1
print(set4)

{3, 18, 19, 20, 54, 92, 62, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [72]:
# Your code here
set5 = set1 & set2
print(set5)

{0, 2, 4, 5, 7, 9, 13, 16, 26, 27, 29, 30, 32, 33, 36, 38, 39, 40, 42, 44, 45, 48, 49, 51, 57, 58, 59, 60, 67, 68, 70, 72, 74, 75, 79, 80, 81, 83, 84, 85, 86, 88, 93, 94, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [73]:
# Your code here
len_set12 = len(set1) + len(set2)
print(len_set12)

len_set345 = len(set3) + len(set4) + len(set5)*2
print(len_set345)

# len(set1) + len(set2) = len(set3) + len(set4) + len(set5)*2

if len_set12 == len_set345:
    print("formula OK")
else:
    print("wrong formula")

135
135
formula OK

#### Create an empty set called `set6`.

In [74]:
# Your code here
set6 = set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [75]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [76]:
# Your code here
if set1 == set6:
    print("Equal")
else:
    print("Different")

Equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [77]:
# Your code here
if set1.issubset(set2):
    print("set1 contains set2")
else:
    print("set1 does not contains set2")
    
if set1.issubset(set3):
    print("set1 contains set3")
else:
    print("set1 does not contains set3")

set1 does not contains set2
set1 does not contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [78]:
# Your code here
set345 = set3 | set4 | set5
print(set345)

set12 = set1.union(set2)
print(set12)

if set12 == set345:
    print("Equal")
else:
    "Different"

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 95, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 95, 96, 97, 99}
Equal

#### Using the `pop` method, remove the first element from `set1`.

In [79]:
# Your code here
print(set1)
min_set = min(set1)
print(min_set)
while set1.pop()!=min_set:
    set1=set1|min_set
print(set1)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 93, 94, 95, 96, 97, 99}
0
{1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [44]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1_remove = set()
for i in set1:
    if i in list_to_remove:
        pass
    else:
        set1_remove=set1_remove|{i}

print(set1_remove)

{2, 3, 5, 6, 7, 8, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 53, 54, 55, 60, 62, 63, 64, 66, 67, 68, 70, 72, 74, 75, 76, 77, 80, 82, 83, 85, 86, 88, 90, 92, 93, 94, 96, 97, 100}