## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [203]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [204]:
sample_list_1 = random.sample(range(101), 80)
sample_list_1

[36,
 75,
 19,
 20,
 77,
 48,
 80,
 35,
 39,
 40,
 89,
 42,
 66,
 79,
 18,
 47,
 28,
 53,
 12,
 92,
 16,
 58,
 64,
 94,
 82,
 84,
 60,
 31,
 29,
 95,
 62,
 7,
 67,
 68,
 56,
 86,
 32,
 24,
 59,
 97,
 45,
 71,
 34,
 85,
 3,
 0,
 49,
 43,
 14,
 55,
 13,
 5,
 78,
 51,
 41,
 9,
 99,
 98,
 63,
 88,
 1,
 83,
 90,
 70,
 100,
 6,
 61,
 37,
 96,
 15,
 11,
 69,
 22,
 76,
 4,
 26,
 10,
 72,
 27,
 65]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [205]:
set1 = set(sample_list_1)
set1

{0,
 1,
 3,
 4,
 5,
 6,
 7,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 22,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 45,
 47,
 48,
 49,
 51,
 53,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 88,
 89,
 90,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [206]:
sample_list_2 = []
while len(sample_list_2)<80:
    i = random.randrange(101)
    sample_list_2.append(i)
len(sample_list_2)
sample_list_2

[67,
 51,
 29,
 23,
 20,
 56,
 11,
 80,
 84,
 68,
 23,
 7,
 83,
 21,
 73,
 64,
 75,
 98,
 8,
 3,
 52,
 0,
 23,
 72,
 0,
 52,
 74,
 8,
 86,
 24,
 60,
 67,
 58,
 33,
 63,
 22,
 13,
 86,
 87,
 70,
 26,
 6,
 36,
 45,
 58,
 89,
 15,
 11,
 85,
 100,
 24,
 17,
 87,
 50,
 63,
 86,
 3,
 87,
 75,
 74,
 46,
 70,
 65,
 84,
 60,
 91,
 46,
 49,
 68,
 20,
 54,
 80,
 89,
 26,
 23,
 53,
 19,
 12,
 73,
 31]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [207]:
set2 = set(sample_list_2)
len(set2) # the lenght is not the same because sets don't allow duplicates

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [208]:
set3 = set1.difference(set2)
set3

{1,
 4,
 5,
 9,
 10,
 14,
 16,
 18,
 27,
 28,
 32,
 34,
 35,
 37,
 39,
 40,
 41,
 42,
 43,
 47,
 48,
 55,
 59,
 61,
 62,
 66,
 69,
 71,
 76,
 77,
 78,
 79,
 82,
 88,
 90,
 92,
 94,
 95,
 96,
 97,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [209]:
set4 = set2.difference(set1)
set4

{8, 17, 21, 23, 33, 46, 50, 52, 54, 73, 74, 87, 91}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [210]:
set5 = set1.intersection(set2)
set5

{0,
 3,
 6,
 7,
 11,
 12,
 13,
 15,
 19,
 20,
 22,
 24,
 26,
 29,
 31,
 36,
 45,
 49,
 51,
 53,
 56,
 58,
 60,
 63,
 64,
 65,
 67,
 68,
 70,
 72,
 75,
 80,
 83,
 84,
 85,
 86,
 89,
 98,
 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [216]:
len(set1) + len(set2) - 2*len(set5) == len(set3) + len(set4)

True

#### Create an empty set called `set6`.

In [217]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [218]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [219]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [220]:
set2.issubset(set1)

False

In [221]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [222]:
set.union(set3,set4,set5)

{0,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

In [223]:
set.union(set1,set2)

{0,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 39,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

In [224]:
set.union(set3,set4,set5) == set.union(set1,set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [225]:
#As far as I know, in sets the elements are not ordered, which means we can't remove an element in a certain position. Furthermore, the pop method is used to remove a random any element of the set, not a specific one. 
#In any case, here is the pop method:

set1.pop()
len(set1) #Now there are 79 elements in the set instead of 80, which means one element was removed

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [226]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(set(list_to_remove))
set1

{3,
 4,
 5,
 6,
 7,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 26,
 27,
 28,
 32,
 34,
 35,
 36,
 37,
 40,
 42,
 43,
 45,
 47,
 48,
 53,
 55,
 56,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 97,
 98,
 100}